<div id='mango-posts'>
{% for post in mangoposts %}
  <article>
    <header>
      <h3>{{ post.title }}</h3>
      <p>By {% for author in post.author.all %}{{ author.username }}{% if not forloop.last %}, {% endif %}{% endfor %} on {{ post.created_at }}</p>
    </header>
    <p>{{ post.content }}</p>
    {% include 'mangomedia_app/partials/like_button.html' with post=post user=user %}
    {% include 'mangomedia_app/partials/comments_section.html' with post=post comment_form=comment_form %}
  </article>

{% empty %}
  <p>No posts yet.</p>
{% endfor %}
</div>