<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="dark">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.pumpkin.min.css">
    <title>Mango Media</title>
  </head>
  <body>
    <main class="container">
        <div class="grid">
            <div></div>
            <div>
                <!--Grid-->
                <nav>
                    <!--navbar-->
                    <ul>
                      <li><strong>Mango Media</strong></li>
                    </ul>
                    <ul>
                      <li><button class="outline">Home</button></li>
                      <li><button class="outline secondary">Profile</button></li>
                      <li><button class="outline secondary">Api</button></li>
                    </ul>
                </nav>
                <article>
                    <header>
                        Example User
                    </header>
                    <p class="overflow-auto">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    </p>
                    <footer>
                        <button class="outline secondary">Like</button>
                        <button class="outline secondary">Comment</button>
                    </footer>
                </article>


                <div>

                </div>
            </div>

            <div></div>
            
          </div>
    </main>
  </body>
</html>
