{% extends 'mangomedia_app/base.html' %}


{% block content %}
{% if not user.is_anonymous %}
<div class="grid"> 
  <div class="aside">{% include 'mangomedia_app/create_post.html' %}</div>
  <div> 
    {% if mangoposts %}
    <h3> Posts </h3>
    <article>
     
      <!--single instance-->
      {% include 'mangomedia_app/mangoposts_list.html' with mangoposts=mangoposts %}

    </article>
    {% endif %}
  </div>
</div>
{% else %}
<div class="grid">
<div></div>
<article>
  <h1> hello stranger 👋 </h1>
  Please login or signup to continue....
  <button class="outline"><a href="{% url 'account_login' %}">Login</a></button>
  <button class="outline secondary"><a href="{% url 'account_signup' %}">Signup</a></button>
  
  </article>
<div></div>
</div>
{% endif%}
{% endblock %}
