{% extends 'mangomedia_app/base.html' %}

{% block content %}
  <nav class="container-fluid">
    
    <ul>
      {% if user.is_authenticated %}
        <li>Welcome, {{ user.username }}!</li>
       
      {% else %}
      <article>
        <h1> hello stranger 👋 </h1>
        Please login or signup to continue....
        <button class="outline"><a href="{% url 'account_login' %}">Login</a></button>
        <button class="outline secondary"><a href="{% url 'account_signup' %}">Signup</a></button>
        
      </article>
      {% endif %}
    </ul>
  </nav>

  <main class="container">
    <div class="grid">

    {% if user.is_authenticated %}
    <div>  
    <section>
        <h2>Create a new Mango Post</h2>
        <article>
        <form method="post">
          {% csrf_token %}
          {{ mango_form.as_p }}
          <button type="submit">Create Post</button>
        </form>
        </article>
    </section>
    </div>
    {% endif %}
    <div>
    <section>
      <h2>Mango Posts</h2>
      {% include 'mangomedia_app/partials/post_list.html' %}
      
    </section>
    {% if mangoposts.has_next %}
    <button hx-get="{% url 'load_more_posts' %}?page={{ mangoposts.next_page_number }}"
              hx-target="#mango-posts"
              hx-swap="beforeend"
              hx-trigger="click, revealed"
              hx-indicator="#loading-indicator">
        Load More
      </button>
      <div id="loading-indicator" class="htmx-indicator">Loading...</div>
      {% endif %}
  
    </div>
    </div>
  </main>
{% endblock %}