{% for mangopost in mangoposts %} 
      {% if forloop.last and mangoposts.has_next %}

      <article hx-get="{% url 'mango_posts' %}?page={{mangoposts.next_page_number}}"
        hx-trigger="revealed"
        hx-swap="afterend">
      {% else %}
      <article>
      {% endif %}
        <header>
          {% for author in mangopost.author.all %}
            <h2>{{author.username}} </h2>  
            {% empty %}
            <li>No authors available.</li>
          {% endfor %}
            <h3>{{mangopost.title}}</h3>
        </header>
        <p class="overflow-auto">
            {{mangopost.post}}
        </p>
        <footer>
            <button class="outline secondary">Like</button>
            <button class="outline secondary">Comment</button>
        </footer>
      </article>
{% endfor %}
 