<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.pumpkin.min.css">

</head>
{% load i18n %}
{% load allauth account %}

{% block content %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="dark">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.pumpkin.min.css">
    <title>Mango Media-Login</title>
</head>
<body>
    <main class="container">
        {% include 'mangomedia_app/nav.html' %}
        <div class="grid">
          
            <div>
                <article>
                    <h1>Login</h1>
                
                    <form method="post" action="{% url 'account_login' %}">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div>
                            <input type="submit" value="Log in" />
                        </div>
                    </form>
                    <p>Dont have a account? <a href="{{signup_url}}">Signup</a></p>
                </article>
            </div>
            <div>
                <article>
                    {% if SOCIALACCOUNT_ENABLED %}
                    {% load socialaccount %}
                    <a href="{% provider_login_url "google" %}">
                    <img src="https://developers.google.com/static/identity/images/branding_guideline_sample_dk_rd_lg.svg" height="250px" width="250px">
                    </img>
                    </a>
                    {% endif %}
                </article>
            </div>
           <div></div>
        </div>

  </body>


{% endblock %}